# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
ENV/

# Airflow
airflow-logs/
logs/
airflow.db
airflow.cfg
unittests.cfg

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Data
data/*.csv
data/*.parquet
*.db

# Docker
.dockerignore
